<head>
  <link href="select2.css" rel="stylesheet"/>
  <script src="select2.js"></script>
  <script>
  $(document).ready(function() {
    $("#e2_2").select2({
      placeholder: "Select a Category",
      allowClear: true
    });
  });
  </script>
</head>
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {:id => "e2_2"}) %>

    <div><%= f.label :username %> <%= f.text_field :username, :autofocus => true %></div>

    <div><%= f.label :first_name %> <%= f.text_field :first_name %></div>

    <div><%= f.label :middle_initial %> <%= f.text_field :middle_initial %></div>

    <div><%= f.label :surname %> <%= f.text_field :surname %></div>

    <div><%= f.label :email %> <%= f.email_field :email %></div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    
    <script type="text/javascript">
    $(document).ready(function() {
      $("#ADMU").hide();
      $("#DLSU").hide();
      $("#UPD").hide();
      $("#UST").hide();

      $('#schools').val(onchange=function(){
        var schools = $('#schools');
        
        if (schools.val()==0){
         $("#ADMU").show();
         $("#DLSU").hide(); 
         $("#UPD").hide();
         $("#UST").hide(); 
       }
       else if (schools.val()==1){
         $("#ADMU").hide();
         $("#DLSU").show(); 
         $("#UPD").hide();
         $("#UST").hide(); 
       }
       else if (schools.val()==2){
         $("#ADMU").hide();
         $("#DLSU").hide(); 
         $("#UPD").show();
         $("#UST").hide(); 
       }
       else if (schools.val()==3){
         $("#ADMU").hide();
         $("#DLSU").hide(); 
         $("#UPD").hide();
         $("#UST").show();
       }

     });
    });
    </script>

    <%= f.label :school %> <%= f.select(:school, [
                                                ["Ateneo de Manila University",0],
                                                ["De La Salle University",1],
                                                ["University of the Philippines - Diliman",2],
                                                ["University of Santo Tomas",3]], {}, 
                                                :id => "schools") %>

    <div id="ADMU">
      <%= f.label :course %> <%= f.select(:course, [['BS ONE BIG FIGHT',1],['BS CONYO',2]]) %>
      <%= f.label :organization %> <%= f.select(:organization, [["Org 0",0],["Org 1",1],["Org2",2]]) %>
    </div>

    <div id="DLSU">
      <%= f.label :course %> <%= f.select(:course, [['BS RICH KID',1],['BS COOL KID',2]]) %>
      <%= f.label :organization %> <%= f.select(:organization, [["OrgL 0",0],["OrgL 1",1],["OrgL 2",2]]) %>
    </div>

    <div id="UPD">
      <%= f.label :course %> <%= f.select(:course, [['BS SCHOLAR',1],['BS NG BAYAN',2]]) %>
      <%= f.label :organization %> <%= f.select(:organization, [["OrgUP 0",0],["OrgUP 1",1],["OrgUP 2",2]]) %>
    </div>

    <div id="UST">
      <%= f.label :course %> <%= f.select(:course, [['BS ARCHI',1],['BS BAHA LAGI',2]]) %>
      <%= f.label :organization %> <%= f.select(:organization, [["OrgUST 0",0],["OrgUST 1",1],["OrgUST 2",2]]) %>
    </div>

    <div><%= f.label :organization %> <%= f.text_field :organization %></div>

    <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, :autocomplete => "off" %></div>

    <div><%= f.label :password_confirmation %> <%= f.password_field :password_confirmation %></div>

    <% if f.object.encrypted_password.present? %>
      <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password %></div>
    <% end %>
    <div><%= f.submit "Update" %></div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

  <%= link_to "Back", :back %>


