<div class="container">
  <div class="span10">
    <div class="container">
      <div style="background:#20815d; padding:5px; width: 1000px">
        <h3>Edit <%= resource_name.to_s.humanize %></h3>
      </div>
      <div style ="padding: 5px; padding-left:20px;">
        <div style="float:left;">
          <h3>User Information</h3>
          <table>
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
            <%= devise_error_messages! %>

            <tr><td width="103px"><%= f.label :username %></td><td><%= f.text_field :username, :autofocus => true %></td></tr>

            <tr><td width="103px"><%= f.label :first_name %></td><td><%= f.text_field :first_name %></td></tr>

            <tr><td width="103px"><%= f.label :middle_initial %></td><td><%= f.text_field :middle_initial %></td></tr>

            <tr><td width="103px"><%= f.label :surname %></td><td><%= f.text_field :surname %></td></tr>

            <tr><td width="103px"><%= f.label :email %></td><td><%= f.email_field :email %></td></tr>

            <tr><td width="103px"><%= f.label "Profile Picture" %></td><td><%= image_tag current_user.image_url %><br><%= f.file_field :image %></td><tr>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></td></tr>
                <% end %>

                <tr><td><%= f.label :school %></td><td><%= f.select(:school, [["Ateneo de Manila University"],["De La Salle University"],["University of the Philippines - Diliman"],["University of Santo Tomas"]], {}, :id => "schools", :selected => current_user.school) %></tr></td>
                <tr><td width="103px"><%= f.label :course %></td><td><%= f.select(:course, [['BS ONE BIG FIGHT'],['BS CONYO']], :selected => current_user.course) %></td></tr>
                <tr><td width="103px"><%= f.label :organization %></td><td><%= f.select(:organization, [["Org 0"],["Org 1"],["Org2"]], :selected => current_user.organization) %></td></tr>
                <tr><td><%= f.label "Services offered" %></td><td><%= f.collection_select(:category_id, Category.all, :id, :name) %></td></tr>
              </table>
            </div> 

            <div style="padding-left: 20px;float:left;i">
              <h3>Password</h3>
              <table>


                <tr><td><%= f.label "New password" %></td>
                  <td><%= f.password_field :password, :autocomplete => "off" %><br><small>Leave blank to remain unchanged.</small></td>
                </tr>
                <tr><td><%= f.label :password_confirmation %></td><td><%= f.password_field :password_confirmation %></td></tr>

                <% if f.object.encrypted_password.present? %>
                <tr><td><%= f.label :current_password %></td><td>
                  <%= f.password_field :current_password %><br><small>Enter password to confirm changes.</small></td></tr>
                  <% end %>
                  <tr><td><%= f.submit "Update" %></td></tr>
                  <% end %>
                </table>
                <hr>
                <h3>Cancel my account</h3>

                <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

                <%= link_to "Back", :back %>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>