<script>
jQuery(function() {
  $("a.fancybox").fancybox();
});
</script>
<div style="margin-bottom:50px;width:90%; padding-top:20px">
    <div class="container">
    <div class="offset1" style="box-shadow:0px 0px 10px #050505; border-radius: 5px">
            <div style="padding:10px; background: #20815d; color: #fff; border-top-left-radius:5px; border-top-right-radius:5px">
                <div class="container">
                    <div style="float:left">
                        <%= image_tag "no_avatar.png"%>
                    </div>
                <div style="float:left; padding-left:10px">
                    <h3><%= @user.first_name %> <%= @user.surname %></h3>
                    <b>E-mail:</b> <%= @user.email %><br>
                    <b>School:</b> <%= @user.school %><br>
                    <b>Year and Course:</b> <%= @user.year %> <%= @user.course%><br>
                    <b>Services Offered:</b> <%= @user.category.name %>
                </div>
            </div>
            </div>
<div style="padding:5px; background: #fff;">

    <div class="container" style="width:1000px">
    <ul class="nav nav-tabs offset5" style="font-family:Oswald">
        <li><a href="#Job-Order-History" data-toggle="tab">JOB ORDER HISTORY</a></li>
        <li><a href="#3" data-toggle="tab">PERSONAL PORTFOLIO</a></li>
        <li><a href="#4" data-toggle="tab">SUBMIT A JOB ORDER</a></li>
    </ul>
</div>
      <div class="tab-content">
        <div class="tab-pane active" id="Job-Order-History">
              <div>
                <div class="tabbable-fixed-top">
                  <ul class="nav nav-pills">
                    <li style="padding-top:10px; padding-left:10px;" class="active"><a href="#5" data-toggle="tab">Pending <%= "(#{@pending.length})" %></a></li>
                    <li style="padding-top:10px"class=""><a href="#6" data-toggle="tab">In Progress</a></li>
                    <li style="padding-top:10px" class=""><a href="#7" data-toggle="tab">Completed</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="5">
                      <div class="span9">
                        <% if @pending.count > 0 %>
                          <% @pending.in_groups_of(3, false).each do |group| %>
                            <% group.each do |project| %>
                              <div class="span3" style="float: left; width: 220px; overflow: hidden; background-color: white; padding: 20px; margin-bottom: 10px;">
                                <div class="title"><%= link_to project.project_name, "/orders/#{project.id}" %></div>
                                <div class="ic_category"><%= project.category.name %></div>
                                <b>Requested by:</b> <%= project.first_name %> <%= project.surname %><br>
                                <b>Target date:</b> <%= project.target_date.strftime("%b %d, %Y") %>
        </div>
        <div class="tab-pane" id="3">
              <div class="span10">
                <% if @projects.count > 0 %>
                  <% @completed.in_groups_of(4, false).each do |group| %>
                    <% group.each do |project| %>
                        <%=link_to(project.project_link) do%>
                            <span>     <div class="span3" style="float: left; overflow: hidden; background-color: rgb(219,219,219); padding: 5px; margin-bottom: 10px; margin-top: 10px; border-radius: 5px; box-shadow: 0px 0px 10px rgb(92,92,92)">
                      <% if !project.image_url.nil? %>
                        <%=link_to (image_tag project.image_url, :title=>project.title, :id=>"capslide_img_cont1", :class=>"fancybox", :style => "width: 300px;"), project.image_url, {:id =>"capslide_img_cont1", :class => "fancybox"} %>
                      <% else %>
                        <% if project.project_status == "In Progress" %>
                          <%=link_to (image_tag "inprogress.png", :title=>project.title, :id=>"capslide_img_cont1", :class=>"fancybox"), "inprogress.png", {:id =>"capslide_img_cont1", :class => "fancybox"} %>
                        <% elsif project.project_status == "Completed" %>
                          <%=link_to (image_tag "goojab.gif", :title=>project.title, :id=>"capslide_img_cont1", :class=>"fancybox"), "goojab.gif", {:id =>"capslide_img_cont1", :class => "fancybox"} %>
                        <% end %>
                      <% end %>
                        <div class="ic_category"><%= project.category.name %></div>
                        <div class="title"><%= link_to project.title, "/projects/#{project.id}" %></div>
                        <%= link_to project.project_link, project.project_link %><br><br>
                    </div>
                </span>
                    <% end %>
                <% end %>
        </div>
        <div class="tab-pane" id="4">
          <h3>Job Request Form</h3>
          </hr>
          <%= render "orders/form" %>
        </div>
     </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="haha" style=" font-size: 10px;height:25px; position: fixed; width:100%; bottom:0">
  <div class="offset11">All rights reserved. Chos.</div>
</div>i

<script type="text/javascript" src="jquery-1.3.2.js"></script>