<html>
<head>

	<title>Blog</title>
	<%= stylesheet_link_tag    "userhome", :media => "all" %>
	<!-- <#%= javascript_include_tag "userhome" %> -->
	<%= csrf_meta_tags %>
</head>
<%content_for :projhist do %>
<% unless user_signed_in? %>
<!-- NOT SIGNED IN -->
<h1>HELLO THEEEREEEE ~(-_-~)</h1>
<% else %>
<!-- SIGNED IN -->

<h1>Project History</h1>
<h2>Pending</h2>
<div class="CSSTableGenerator" >
  <table >
    <tr>
      <td>Project Id</td>
      <td>Category</td>
      <td>Title</td>
      <td>Description</td>
      <td>Link</td>
    </tr>
    <!-- <#% if @project.status == "Pending" %> -->
    <% @projects.each do |project| %>
    <tr>
      <td ><%= project.id %></td>
      <td><%= project.category.name %></td>
      <td><%= project.title %></td>
      <td><%= project.description %></td>
      <td><%= project.project_link %></td>
    </tr>
    <% end %>
    <!-- <#% end %> -->
  </table>
</div>

<h2> In Progress</h2>
<div class="CSSTableGenerator" >
  <table >
    <tr>
      <td>Project Id</td>
      <td>Category</td>
      <td>Title</td>
      <td>Description</td>
      <td>Link</td>
    </tr>
    <!-- <#% if @project.status == "In Progress" %> -->
    <% @projects.each do |project| %>
    <tr>
      <td ><%= project.id %></td>
      <td><%= project.category.name %></td>
      <td><%= project.title %></td>
      <td><%= project.description %></td>
      <td><%= project.project_link %></td>
    </tr>
    <% end %>
    <!-- <#% end %> -->
  </table>
</div>
<h2>Completed</h2>
<div class="CSSTableGenerator" >
  <table >
    <tr>
      <td>Project Id</td>
      <td>Category</td>
      <td>Title</td>
      <td>Description</td>
      <td>Link</td>
    </tr>
    <!-- <#% if @project.status == "Completed" %> -->
    <% @projects.each do |project| %>
    <tr>
      <td ><%= project.id %></td>
      <td><%= project.category.name %></td>
      <td><%= project.title %></td>
      <td><%= project.description %></td>
      <td><%= project.project_link %></td>
    </tr>
    <% end %>
    <!-- <#% end %> -->
  </table>
</div>

<%end%>
<%end%>

<%= link_to (image_tag "Home/JOBORDERbuttoncopy.png", :size => "300x300"), "/orders/new" %>
<%= link_to "Request new", "/projects/new" %>