<%unless user_signed_in?%>
<div class="container">
    <div class="row">
        <div class="span12">
<!--  Carousel - consult the Twitter Bootstrap docs at
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
        <%=image_tag "Status/accomplished.png"%>
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x480" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x480" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1200x480" alt="" />
      <div class="carousel-caption">
        <p>Caption text here</p>
      </div>
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
<% else %>


    <div class="row-fluid">
        <div class="span10 offset1"> <h1><%= image_tag "IndexHome/projecticon.png", :size=>"80x80"%> Project History</h1>
            <HR>
        <div class="tabbable">
<ul class="nav nav-tabs">
<li class="active"><a href="#1" data-toggle="tab">Pending</a></li>
<li class=""><a href="#2" data-toggle="tab">In Progress</a></li>
<li class=""><a href="#3" data-toggle="tab">Completed</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="1">
<h2><%= image_tag "Status/pending.png", :size=>"50x50"%> Pending</h2>
        <% if !@projects.nil? %>
        <div class="CSSTableGenerator" >
        <table>
          <tr>
            <td>Project Id</td>
            <td>Category</td>
            <td>Title</td>
            <td>Description</td>
            <td>Link</td>
          </tr>
          <% @projects.each do |project| %>
          <tr>
          <td ><%= image_tag project.image_url, size: "50x50" %></td>
            <td><%= project.category.name %></td>
            <td><%= project.title %></td>
            <td><%= project.description %></td>
            <td><%= project.project_link %></td>
          </tr>
          <% end %>
      </table>
      <table>

      </table>
      </div>
      <% else %>
        You have no pending projects.
      <% end %>
</div>
<div class="tab-pane" id="2">
<h2><%= image_tag "Status/inProgress.png", :size=>"50x50"%> In Progress</h2>
      <% if !@project.nil? && @project.project_status == "In Progress" %>
      <div class="CSSTableGenerator" >
        <table >
          <tr>
            <td>Project Id</td>
            <td>Category</td>
            <td>Title</td>
            <td>Description</td>
            <td>Link</td>
          </tr>
          <% @projects.each do |project| %>
          <tr> <td ><%= project.id %></td>
            <td><%= project.category.name %></td>
            <td><%= project.title %></td>
            <td><%= project.description %></td>
            <td><%= project.project_link %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <% else %>
      You have no projects in progress.
      <% end %>
</div>
<div class="tab-pane" id="3">
<h2><%= image_tag "Status/accomplished.png", :size=>"50x50"%>Completed</h2>
      <% if !@project.nil? && @project.project_status == "Completed" %>
      <div class="CSSTableGenerator" >
        <table >
          <tr>
            <td>Project Id</td>
            <td>Category</td>
            <td>Title</td>
            <td>Description</td>
            <td>Link</td>
          </tr>
          <% @projects.each do |project| %>
          <tr>
            <td ><%= project.id %></td>
            <td><%= project.category.name %></td>
            <td><%= project.title %></td>
            <td><%= project.description %></td>
            <td><%= project.project_link %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <% else %>
      You have not completed any projects yet.<br>
      <% end %>
</div>
</div>
</div>
</div>
    </div>

  </div>
</div>



<% end %>