<div class="container span9 offset2" style="padding-bottom:20px;font-family: Oswald;box-shadow: 0px 0px 10px #030303; margin-bottom: 30px; background:#e4e4e4; margin-top:30px">
<div style="background: #20815d; padding:2px; color: white">
    <h3><center>JOB REQUEST FORM</h3>
  </div>

          <%= form_for(:order) do |f|%> <br>
              <div style="float:left; padding-left:50px;">
                  <h4>CLIENT INFORMATION:</h4>
                  <table>
                     <tr><td>First Name</td><td><%= f.text_field :first_name %></td></tr>
                <tr><td>Last Name</td><td> <%= f.text_field :surname%> </td></tr>
                <tr><td>E-mail</td><td> <%= f.text_field :email %> </td></tr>
                <tr><td>Contact No </td><td><%= f.text_field :mobile %> </td></tr>
                <td colspan="2"><h4>STUDENT OF CHOICE:</h4></td>
                <tr><td>Category</td><td> <%= f.collection_select(:category_id, Category.all, :id, :name)%> </td><tr>
                <tr><td>Number of Workers Needed</td><td> <%= f.text_field :number_of_workers %> </td><tr>
                <tr><td>Skills Needed</td><td><%= f.text_field :skills%> </td></tr>
                <tr><td>User/s of Choice</td><td><%= f.collection_select(:user_id, User.all, :id, :first_name)%> </td></tr>
                <tr><td>Target Date</td><td> <%= f.text_field :target_date%> </td><tr>
                        <tr><td>Start Date </td><td><%= f.text_field :start_date %></td></tr>
                    </table>
                </div>
                <div style="float:left; padding-left:10px">
                    <h4>PROJECT DETAILS:</h4>
                    <table>
                        <tr><td>Project Name:</td><td> <%= f.text_field :project_name %></td></tr>
                        <tr><td style="vertical-align: top">Project Description </td><td><%= f.text_area :project_description, :style=>"height:100px" %> </td></tr>
                        <tr><td style="vertical-align: top">Technicalities</td><td><%= f.text_area :technicalities, :style=>"height:100px" %> </td></tr>
                        <tr><td style="vertical-align: top">Aesthetics </td><td><%= f.text_area :aesthetics, :style=>"height:100px" %> </td></tr>
                        <tr><td style="vertical-align: top">Image (optional) </td><td><%= f.file_field :image %></td></tr>
                        <tr><td></td><td align="right"><%= f.submit "POST JOB ORDER" %></td></tr> <br>
          </table>
        <% end %>
    </div>
  </div>
