<div style="margin-bottom:50px;width:90%; padding-top:20px">
	<div class="container">
		<div class="offset1">
			<div style="padding:10px; background: #20815d; height: 80px; width: 95%; color: #fff; float: center;">
				<h1><%= @order.title %></h1>
				<div class="title">by <%= @order.user.first_name %> <%= @order.user.surname %></div>
				<hr>
			</div>
			<div style="color: #000;padding:10px; background: #e4e4e4; width: 95%; height: 350px;">
				<table>
					<tr>
						<td><% if !@order.image_url.nil? %>
              <%= image_tag @order.image_url, :style => "height: 350px;" %><br><br>
            <% else %>
              <% if @order.status == "Pending" %>
              	<%= image_tag "inprogress.png", :style => "height: 350px;" %><br><br>
              <% elsif @order.status == "In Progress" %>
                <%= image_tag "inprogress.png", :style => "height: 350px;" %><br><br>
              <% elsif @order.status == "Completed" %>
                <%= image_tag "goojab.gif", :style => "height: 350px;" %><br><br>
              <% end %>
            <% end %></td>
						<td style="vertical-align:top;">
							<b>Requested by:</b> <%= @order.first_name %> <%= @order.surname %>
							<b>Description:</b><br><%= @order.project_description %><br><br>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="haha" style=" font-size: 10px;height:25px; position: fixed; width:100%; bottom:0">
	<div class="offset11">All rights reserved. Chos.</div>
</div>
