<div style="margin-bottom:50px;width:90%; padding-top:20px">
	<div class="container">
		<div class="offset1">
			<div style="padding:10px; background: #20815d; height: 50px; color: #fff;">
				<h1>New Project</h1>
				<hr>
			</div>
			<div style="color: #000;padding:5px; background: #e4e4e4;">
				<%= form_for(:order, :url => { :controller => 'projects',:action => 'new'}, :html => {:multipart => true}) do |f|%> <br>
				<%= f.label "User ID:"  %> <%= f.text_field :user_id %> <br>
				<%= f.label "Category:" %> <%= f.collection_select(:category_id, Category.all, :id, :name)%> <br>
				<%= f.file_field :image %>
				<%= f.label :remote_image_url, "or image URL" %>
				<%= f.text_field :remote_image_url %>
				<%= f.label "Title:" %> <%= f.text_field :title %> <br>
				<%= f.label "Description:" %> <%= f.text_area :description%> <br>
				<%= f.label "Project Link" %> <%= f.text_field :project_link %> <br>
				<%= f.submit "Submit" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="haha" style=" font-size: 10px;height:25px; position: fixed; width:100%; bottom:0">
	<div class="offset11">All rights reserved. Chos.</div>
</div>
