<div style="margin-bottom:50px;width:90%; padding-top:20px">
	<div class="container">
		<div class="offset1">
			<div style="padding:10px; background: #20815d; height: 80px; width: 95%; color: #fff; float: center;">
				<h1><%= @project.title %></h1>
				<div class="title">by <%= @user.first_name %> <%= @user.surname %></div>
				<hr>
			</div>
			<div style="color: #000;padding:10px; background: #e4e4e4; width: 95%; height: 350px;">
				<table>
					<tr>
						<td><% if !@project.image.nil? %>
						<%= image_tag @project.image_url, :style => "height: 350px;" %><br><br>
						<% end %></td>
						<td style="vertical-align:top;"><b>Description:</b><br><%= @project.description %><br><br>
						<b>Link:</b> <%= link_to @project.project_link, @project.project_link %></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="haha" style=" font-size: 10px;height:25px; position: fixed; width:100%; bottom:0">
	<div class="offset11">All rights reserved. Chos.</div>
</div>
