<%unless user_signed_in?%>
    <div class ="container-fluid">
        <div class = "row-fluid">
            <div id="example" class="modal hide fade in" style="display: none; border-radius:0px ">
                <div class="modal-header" style="background:#20815d; color: #fff">
                    <a class="close" data-dismiss="modal">×</a>
                    <h3>SIGN IN</h3>
                </div>
                <div class="modal-body">
                    <center><%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                            <table>
                                <tr><td>Email: </td>
                                    <td>     <%= f.text_field :email, :autofocus => true, :placeholder => "Hello" %></td></tr>
                                <tr><td>Password:</td>
                                    <td><%= f.password_field :password, :placeholder => "********" %></td></tr>
                            </table>
                            <% if devise_mapping.rememberable? -%>
                                <div><%= f.check_box :remember_me %> Remember me</div>
                            <% end -%>  <br>
                            <div><%= f.submit "Sign in" %></div>
                        <% end %>
                        OR LOG IN WITH:<br>
                        <%= link_to (image_tag "Devise/twitter.png", :size => "60x60", :title => "Twitter"),  user_omniauth_authorize_path(:twitter)%>
                        <%= link_to (image_tag "Devise/github.png", :size => "60x60", :title => 'Github'),  user_omniauth_authorize_path(:github)%>

                    </div><!--body-->
                    <div class="modal-footer">
                        <%= render "devise/shared/links" %>
                        <br>Not a member yet? <%= link_to "Sign up!", new_user_registration_path %>
                        <br>
                     </div>
            </div><!--example-->
        </div> <!--row-fluid end-->
    </div> <!-- container-fluid end -->
    <div>
    <div class="offset1" style="width=80%; margin-right:100px;">
        <center><br><br><br><br>
            <h1 style="font-size:100px"> WEB APP NAME </h1>
            <br> <h2>Hi how you doing</h2>
            <a data-toggle="modal" href="#example" class="btn btn-primary btn-large btn1" style="background: #20815d; border-radius:0px; text-transform:uppercase">Log In</a> <%= link_to 'Sign Up', new_user_registration_path, :class=>"btn-primary btn-large btn", :style=>"background: #20815d; border-radius:0px; text-transform:uppercase" %>

            <br><br>   </center>
    </div>
</div>
        <div class="hehe" style="background-color:#ff5900">

            <center>
            <div id="myCarousel" class="carousel slide" style="padding-top: 20px; padding-bottom:20px; width:80%">

            <!--i Carousel items -->
            <div class="carousel-inner">
                <div class="active item"><%= image_tag 'dps.jpg'%></div>
                <div class="item">><%= image_tag 'dps.jpg'%></div>
                <div class="item"><img src="/update-images/schema.png" alt="Schema.org logo" width="500" height="99" /></div>
                <div class="item"><img src="/update-images/json.gif" alt="JSON logo" width="500" height="99" /></div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>

    </div>
    <div class="container">
    <div style="float:left; padding-left:40px">
    <div class="span3" style="float:left">
        WOO
    </div>
        <div class="span7" style="padding-left:51px;float:left; text-align: justify">
                   <h1>HEadinG</H1>
        <P style="line-height: 30px;">Yolo ipsum what you bothering me for? don't tell me, I don't care omnis quos possimus adipisci. Est doloribus quia aliquid voluptas aspernatur architecto. Et cumque I can almost guarantee she know the deal vero earum dolore odio doloremque. Ut dolore sunt facilis ratione they say love is in the air, so I my only wish is I die real cause that truth hurts, and those lies heal.</P>
        <br><br></div>
</div>
</div>
<div class="haha"  >
  <div class="container">
    <div class="span11" style="padding-left:40px; margin-right:40px; padding-top:40px;">
      <div class="span3" style="float:left; ">
        <center>
          POST A JOB <br>
          <%= link_to ( image_tag 'Home/JOBORDERbuttoncopy.png', :size=>"200x200"), new_order_path %>

        </div>
        <div class="span4" style="float:left;">
          <center>
            JOIN US<br><br>
            <table>
              <tr>
                <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

                <tr><td><%= f.label :username %></td>
                <td><%= f.text_field :username, :placeholder => "Type your username" %></td></tr>

                  <tr><td><%= f.label :email %></td>
                    <td><%= f.email_field :email, :placeholder => "blah@blah.blah" %></td></tr>

                    <!-- <#% if f.object.password_required? %> -->
                    <tr><td><%= f.label :password %></td>
                      <td><%= f.password_field :password, :placeholder => "********" %></td></tr>

                      <tr><td><%= f.label "Re-enter" %></td>
                        <td><%= f.password_field :password_confirmation, :placeholder => "Re-enter password plis :3" %></td></tr>
                        <!-- <#% end %> -->
                      </table>
                      <div><%= f.submit "Sign up" %></div>
                      <%end%>
                    </div>
                    <div class="span3" style="float:left;">
                      <center>WHAt's up
                      </div>
                      <%end%>
                    </div>
                  </div>
                </div>

        <script src="jquery.capSlide.js" type="text/javascript"></script>

