<!DOCTYPE html>
<html>
    <head>
                <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %> <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>

  <div class="navbar">
      <div class="navbar-inner">
          <div class="container">
                                                                                                         </div>
              <ul class="nav">
                  <a class="brand" href="#">WOO</a>

                  <% if user_signed_in? %>

                      <li><strong>Hello, <%= current_user.username %>!</strong/></li>
                          <li>  <input type="text" class="input-medium search-query">
                          <button type="submit" class="btn"> <%= image_tag "Navbar/search.png", :size => "40x40"%></button>
                              </li>
                      <li class="dropdown" id="accountmenu">

                      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= image_tag "Navbar/settings.png", :size=>"40x40" %><b class="caret"></b></a>

                      <ul class="dropdown-menu">
                          <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
                          <li><%= link_to 'Edit Profile'%></li>
                          <hr>
                        <li><%= link_to 'Help'%></li>
                          <hr>
                       <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                      </ul>
                                                                                                                                                  </li>

                      <% else %>
                      <li><%= link_to "Sign up", new_user_registration_path %> </li>
                      <li><%= link_to "Login", new_user_session_path %></li>
                     <% end %>


                      </ul>
                  </li>
              </ul>
          </div>
      </div>
  </div>
 </div>

 </div>
<body>
    <%= yield :right %>
    <%= yield :left %>
    <%= yield %>
 </div>
</body>





      </div>
  </div>
 </div>

 </div>

</html>
